<div id="overlayContainer" class="hidden">
    <div id="serverSelectContent" class="hidden">
        <!-- Server select content -->
    </div>
    <div id="accountSelectContent" class="hidden">
        <!-- Account select content -->
    </div>
    <div id="overlayContent">
        <span id="overlayTitle">Lorem Ipsum:<br>Finis Illud</span>
        <span id="overlayDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
        <div id="overlayActionContainer">
        </div>
    </div>
    <script src="./assets/js/scripts/overlay.js"></script>
</div>